.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}

.signupBtn{
  border: none;
  background: none;
}

/* Search Bar*/

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.population {
  font-size: 15px;
}

.navbar {
  background-color: black;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.navbar .leftSide{
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 50%;
}
.navbar .leftSide .links{
  max-height: 80px;
}


.navbar .leftSide >button{
  display: none;
  margin-left: 20px;

}

.navbar .leftSide >#hidden{
  display: flex;
}

.navbar .leftSide .links a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 15px;
}
.navbar .leftSide .links a > .icon{
  font-size: 40px;
}
.navbar .rightSide{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right:25px;
}

.navbar .rightSide .links a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 25px;
}

.navbar .rightSide >input{
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 15px;
  color: black;
}
.navbar .rightSide >button:hover{
  cursor: pointer;
}
.navbar .rightSide >button{
    height: 32px;
    width: 70px;
    font-size: 16px;
    border: none; 
}

@media only screen and (max-width:850px) {
  .navbar .leftSide .links a{
    font-size: 20px;
  }
}

@media only screen and (max-width:750px) {
  .navbar .leftSide .links a{
    font-size: 15px;
  }
}

@media only screen and (max-width:650px) {
  .navbar .leftSide >button{
    display: flex;
  }
  .navbar .leftSide .links{
    display: none;
  }
  .navbar .leftSide #hidden{
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    max-height:230px;
    width: 100%;
    background-color:#021E39;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .leftSide #hidden a{
    margin: 10px;
    font-size: 25px;
  }
}
