.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.cards {
  transition: transform 0.3s ease-in-out;
}

.card-body:hover {
  cursor: pointer;
}
.ql-container {
  min-height: 100px;
}
.cards:hover {
  transform: translateY(-5px) scale(1.08);
}

.signupBtn {
  border: none;
  background: none;
}
.navbar {
  background-color: black;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.navbar .leftSide {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 50%;
}
.navbar .home-leftSide {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 50%;
}
.navbar .leftSide .links {
  max-height: 80px;
}

.navbar .home-leftSide .links {
  max-height: 80px;
}

.navbar .leftSide > button {
  display: none;
  margin-left: 20px;
}
.navbar .leftSide > #hidden {
  height: 100vh;
  display: flex;
}

.navbar .home-leftSide .links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 15px;
}
.navbar .home-leftSide .links a > .icon {
  font-size: 40px;
}
.navbar .leftSide .links {
  display: flex;
  align-items: center;
}
.navbar .leftSide .links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 15px;
  transition: 0.5s all ease;
}
.navbar .leftSide .links a:hover {
  cursor: pointer;
  color: lightgray;
}
.navbar .leftSide .links a:active {
  color: rgb(110, 99, 99);
}

.navbar .leftSide .links a > .icon {
  font-size: 40px;
}
.navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.navbar .rightSide .links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 25px;
}
.logoutSpan {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 15px;
  transition: 0.5s all ease;
}
.logoutSpan:hover {
  cursor: pointer;
  color: lightgray;
}
.logoutSpan:active {
  color: rgb(110, 99, 99);
}

.navbar .rightSide .searchBar > input {
  width: 20vw;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 15px;
  color: black;
}

.results-list {
  position: absolute;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25vw;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  color: black;
  z-index: 1;
}
.result-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: ease all 0.5s;
}
.result-list-item:hover {
  cursor: pointer;
  background-color: lightgray;
  color: #343a40;
}

.breadcrumbs {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 50%;
  font-size: 16px;
  margin-left: 20px;
}
.breadcrumbs > a {
  text-decoration: none;
  color: blue;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}
.comment-container ::-webkit-scrollbar {
  display: none !important;
}

.comment_list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-header {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}

.animate--fade-in-right {
  animation: fadein-right 2s;
  -webkit-animation: fadein-right 2s;
}

.animate--fade-in-left {
  animation: fadein-left 2s;
  -webkit-animation: fadein-left 2s;
}
.animate--fade-in-right:nth-child(2) {
  animation-delay: 200ms;
}
.animate--fade-in-right:nth-child(3) {
  animation-delay: 300ms;
}
.animate--fade-in-right:nth-child(4) {
  animation-delay: 400ms;
}
.animate--fade-in-right:nth-child(5) {
  animation-delay: 500ms;
}
.animate--fade-in-right:nth-child(6) {
  animation-delay: 600ms;
}
.animate--fade-in-right:nth-child(7) {
  animation-delay: 700ms;
}
.animate--fade-in-right:nth-child(8) {
  animation-delay: 800ms;
}
.animate--fade-in-right:nth-child(9) {
  animation-delay: 900ms;
}
.animate--fade-in-right:nth-child(10) {
  animation-delay: 1000ms;
}
@keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* flex-direction: column; */
}
.quotes {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.getStartedButton {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border: none;
  color: black;
  border-radius: 5px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
  background-color: darkGray;
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 0 black;
}
.getStartedButton:hover {
  /* box-shadow: inset 100px 0 0 0 black; */
  cursor: pointer;
  color: white;
}
.getStartedButton:before {
  border-radius: 5px;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: black;
}
.getStartedButton:hover::before {
  transition: 0.5s ease-out all;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
.home-animation {
  width: 100vw;
  height: 100vh;
}

.ql-syntax {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  overflow: scroll;
}
@media only screen and (max-width: 768px) {
  .comment-container {
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 850px) {
  .navbar .leftSide .links a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 880px) {
  .navbar .leftSide .links a {
    font-size: 15px;
  }
  .logoutSpan {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .navbar .rightSide .searchBar {
    /* position: absolute; */
    width: 70%;
  }
  .navbar .rightSide .searchBar > input {
    width: 30vw;
  }

  .navbar .leftSide > button {
    display: flex;
    border: none;
    padding: 5px;
    font-size: 40px;
    color: white;
    background-color: black;
  }

  .navbar .leftSide .links {
    display: none;
  }
  .navbar .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 100vh;
    z-index: 1;
    max-height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .leftSide #hidden a {
    margin: 10px;
    font-size: 25px;
  }
}
