.App {
  text-align: center;
}

.signupBtn{
  border: none;
  background: none;
}

.navbar {
  position: relative;
}

.navbar .nav-link:last-child {
  position: absolute;
  right: 0;
  margin-right: 10%;
}
